.nav{
   
    background-color:whitesmoke;
}
.nav_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   margin-left: 100px;
}
.nav_logo p{
    margin-top: 25px;
    font-size: 40px; 
    font-weight: 600;
}
.head_menu{
   
   align-items: center;
   margin-left: 200px;
  gap: 20px;
   font-size: 20px;
   font-weight:500 ;
}
.nav_signin{
    display: flex;
    margin-left:50%;
    gap: 20px;
}
.head_menu hr{
    border: none;
    width:80%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
}
.nav_cart_count{
    width: 20px;
    height: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -6px;
    margin-left: -30px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;

}
@media (max-width:1175px) {
    .nav_signin{
        margin-left:10%;
    }
}
@media (max-width:1095px) {
    .head_menu{
        margin-left:100px;
    }
    .nav_signin{
        margin-left:10%;
    }
}
@media (max-width:550px) {
    .nav_logo{
        margin-left: 40px;
    }
}
@media (max-width:370px){
    .nav_logo{
        margin-left: 20px;
       
    }
    .nav_logo img{
        height: 40px;
        margin-top: 0px;
    }
    .nav_logo p{
        font-size: 20px;  
    }
}