.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    background-color: #c7c7c7;
    border-radius: 25px;
}
.footer_logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer_logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.footer_links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}
.footer_links li{
    cursor: pointer;
}
.footer_social_icon{
    display: flex;
    gap: 20px;
}
.footer_icon_container{
    padding: 10px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer_copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1a1a1a;
}
.footer_copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height:3px;
    background: #c7c7c7;
}
@media (max-width:630px) {
    .footer_links{
        gap: 20px;
    }
    
}
@media (max-width:470px) {
    .footer_links{
        display: flex;
        flex-direction: column;
    }
    
}
@media (max-width:300px) {
    .footer_logo img{
        height: 50px;
    }
    .footer_logo p{
        font-size:40px ;
    }
}